<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
        <add key="sql-server" value="localhost" />
        <add key="sql-port" value="3306" />
        <add key="sql-uid" value="67tuD6S52eKS" />
        <add key="sql-password" value="/dIc8SvD4MH8wyLCaf9L9Q==" />
        <add key="sql-database" value="hausperfekt" />

        <add key="pervasive-server" value="localhost" />
        <add key="pervasive-port" value="1583" />
        <add key="pervasive-uid" value="Master" />
        <add key="pervasive-password" value="E84rvJB6x0ZRViLav+QHqw==" />
        <add key="pervasive-database" value="HAUSPERFEKT" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>