<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
        <add key="sql-server" value="localhost" />
        <add key="sql-port" value="3306" />
        <add key="sql-uid" value="root" />
        <add key="sql-password" value="qjzPOU64GfkqS4VUln3ABQ==" />
        <add key="sql-database" value="hausperfekt" />

        <add key="pervasive-server" value="localhost" />
        <add key="pervasive-port" value="1583" />
        <add key="pervasive-uid" value="Master" />
        <add key="pervasive-password" value="" />
        <add key="pervasive-database" value="HAUSPERFEKT" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>